node_modules/
dist/
.turbo/
.yalc/
yalc.lock
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Env
.env
.env.local
.env.*.local

# Coverage
coverage/
